/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to right, #002f6c, #0044aa);
  color: white;
  z-index: 10;
  position: relative;
} */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to right, #002f6c, #0044aa);
  color: white;
  z-index: 10; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 98%; 
}
