.productDetailContainerEmployee {
    display: flex;
    flex-direction: column;
    margin-left: 250px; 
    margin-top: 60px; 
    padding: 20px;
    width: calc(100% - 300px); 
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  /* Encabezado del producto */
  .productHeaderEmployee {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .backButtonEmployee {
    background-color: #0044AA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .backButtonEmployee:hover {
    background-color: #003088;
  }
  
  /* Contenedor principal del producto */
  .productContainerEmployee {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  /* Sección de información del producto */
  .productInfoEmployee {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .productInfoEmployee h2 {
    color: #0044AA;
    margin-bottom: 10px;
  }
  
  .separatorLineEmployee {
    border: 0;
    height: 1px;
    background-color: #0044AA;
    margin-bottom: 15px;
  }
  
  .productDetailsEmployee p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  /* Sección de la imagen del producto */
  .productImageContainerEmployee {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .productImageContainerEmployee h2 {
    color: #0044AA;
    margin-bottom: 10px;
  }
  
  .productImageEmployee {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  