.productDetailContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
}

.productDetailGrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.productProvider, .productName {
  margin: 0;
  padding: 0;
  text-align: left;
}

.productProvider {
  font-size: 16px;
  margin-bottom: 5px;
}

.productName {
  font-size: 24px;
  margin-bottom: 15px;
}

.productImageSection {
  display: flex;
  justify-content: start;
  padding-left: 15px;
}

.productImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.productInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.productSpecs {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 12px;
}

.deliveryMethods {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 12px;
}

.productPurchaseSection {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  height: fit-content;
}

.productPrice {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quantityControl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantityBtn {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.quantityBtn:hover {
  background-color: #e0e0e0;
}

.quantityInput {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.addToCartButton {
  background-color: #0044AA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.addToCartButton:hover {
  background-color: #003088;
}

.purchaseActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.productDescriptionSection {
  width: calc(100% + 20px);
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
  grid-column: 1 / span 3;
}
