/* Estilos para el overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 999; /* Debe estar justo debajo del menú */
}

/* Estilos para el menú lateral */
.side-menu {
  width: 250px;
  height: 100%;
  background-color: #3a70d4;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegúrate de que esté encima del overlay */
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

/* Encabezado del menú */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para los íconos */
.icon {
  font-size: 1.8em;
  cursor: pointer;
}

/* Estilos para la lista del menú */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  color: white; /* Texto en blanco para los enlaces */
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  display: block;
  padding: 5px 0;
}

/* Estilo del enlace activo */
.menu a.active {
  color: #002F6C; /* Color azul oscuro para la ruta activa */
  font-weight: 600; /* Más grueso para el enlace activo */
}

/* Estilos para la sección de categorías */
.categories-title {
  color: white; /* Texto blanco para "Categorías" */
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Estilos para el submenú de categorías */
.submenu {
  list-style: none;
  padding: 0;
  margin-top: 0.35rem;
  max-height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Para IE y Edge */
  scrollbar-width: none; /* Para Firefox */
}

.submenu::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}

.submenu li {
  margin-bottom: 15px;
}

.submenu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 5px 0;
}

.submenu a.active {
  color: #002F6C;
  font-weight: 600;
}

/* Estilo para los íconos en blanco */
.white-icon {
  color: white;
}
